@use 'variables' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-base;
    background-color: $color-bg;
    color: $color-text;
    line-height: $line-height;
}

a {
    color: $color-secondary;
    text-decoration: none;

    &:hover { 
        color: $color-accent; 
        text-decoration: underline; 
    }
}

img {
    max-width: 100%;
    display: block;
}